@media(max-width: 768px){

    .menu-icon{
        display: block;
    }

    .nav-list{
        display: none;
    }

    #menu-toggle:checked + .menu-icon + .nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 90px;
        right: 0;
        left: 0;
        background-color: #E5E4CA;
        width: 80%;
        margin: auto;
    }
}