*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.hero-image{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.938), rgba(0, 0, 0, 0)), url(./img/bcg.jpg);
    background-size: cover;
    padding-top: 1%;
    font-family: "Poppins", system-ui;
}

.hero-image nav{
    position: relative;
    width: 75%;
    background-color: #E5E4CA;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 5px 5%;
}

.menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 24px;
    color: #3E4B39;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    top: 50%;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image-wrapper img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.hero-image nav ul li a{
    color: #3E4B39;
    font-weight: 600;
    padding: 10px 15px;
    display: block;
}

.hero-image .text-container{
    margin-top: 16%;
    margin-left: 13%;
    justify-content: space-between;
    align-items: center;
}

.hero-image .text-container .text{
    color: #E5E4CA;
    font-size: 25px;
    letter-spacing: 7px;
}

.btn-design{
    background-color: transparent;
    color: #E5E4CA;
    padding: 0.5rem 2.5rem;
    border: 2px solid #E5E4CA;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 1rem;
}

.btn-design a{
    color: #E5E4CA;
}

.hero-image .whatsapp-icon{
    width: 50px;
    height: 50px;
    background-color: #008001;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
    right: 5%;
    bottom: 5%;
}

@media(max-width: 768px){

    .menu-icon{
        display: block;
    }

    .nav-list{
        display: none;
    }

    #menu-toggle:checked + .menu-icon + .nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        right: 0;
        background-color: #E5E4CA;
        width: 100%;
    }
}